<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32.NET" version="1.2.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net461" />
  <package id="Fody" version="2.4.4" targetFramework="net461" developmentDependency="true" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="2.2.9" targetFramework="net461" />
  <package id="SmartTechnologiesM.Activation" version="1.0.108" targetFramework="net461" />
  <package id="SmartTechnologiesM.Base" version="1.0.108" targetFramework="net461" />
  <package id="System.Management" version="5.0.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net452" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net461" />
</packages>